<!-- script -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="script">
    <!-- jQuery -->
    <script th:src="@{/assets/vendors/jquery/dist/jquery.min.js}"></script>

    <!-- Bootstrap Core JS -->
    <script th:src="@{/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

    <!-- FeatherIcons JS -->
    <script th:src="@{/assets/js/feather.min.js}"></script>

    <!-- Fancy Dropdown JS -->
    <script th:src="@{/assets/js/dropdown-bootstrap-extended.js}"></script>

    <!-- Simplebar JS -->
    <script th:src="@{/assets/vendors/simplebar/dist/simplebar.min.js}"></script>

    <!-- Data Table JS -->
    <script th:src="@{/assets/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/vendors/datatables.net-bs5/js/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/assets/vendors/datatables.net-select/js/dataTables.select.min.js}"></script>

    <!-- Daterangepicker JS -->
    <script th:src="@{/assets/vendors/moment/min/moment.min.js}"></script>
    <script th:src="@{/assets/vendors/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/assets/js/daterangepicker-data.js}"></script>

    <!-- Amcharts Maps JS -->
    <script th:src="@{/assets/vendors/amcharts/amcharts4/core.js}"></script>
    <script th:src="@{/assets/vendors/amcharts/amcharts4/maps.js}"></script>
    <script th:src="@{/assets/vendors/amcharts/amcharts4-geodata/worldLow.js}"></script>
    <script th:src="@{/assets/vendors/amcharts/amcharts4-geodata/worldHigh.js}"></script>
    <script th:src="@{/assets/vendors/amcharts/amcharts4/themes/animated.js}"></script>

    <!-- Apex JS -->
    <script th:src="@{/assets/vendors/apexcharts/dist/apexcharts.min.js}"></script>

    <!-- Init JS -->
    <script th:src="@{/assets/js/init.js}"></script>
    <script th:src="@{/assets/js/chips-init.js}"></script>
    <script th:src="@{/assets/js/dashboard-data.js}"></script>
</div>
</body>
</html>