<!-- sidebar -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">
    <div class="hk-menu">
        <!-- Brand -->
        <div class="menu-header">
				<span>
					<a class="navbar-brand" href="index.html">
						<img class="brand-img img-fluid" th:src="@{/assets/img/brand-sm.svg}" alt="brand" />
						<img class="brand-img img-fluid" th:src="@{/assets/img/Jampack.svg}" alt="brand" />
					</a>
					<button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle">
						<span class="icon">
							<span class="svg-icon fs-5">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-to-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<line x1="10" y1="12" x2="20" y2="12"></line>
									<line x1="10" y1="12" x2="14" y2="16"></line>
									<line x1="10" y1="12" x2="14" y2="8"></line>
									<line x1="4" y1="4" x2="4" y2="20"></line>
								</svg>
							</span>
						</span>
					</button>
				</span>
        </div>
        <!-- /Brand -->

        <!-- Main Menu -->
        <div data-simplebar class="nicescroll-bar">
            <div class="menu-content-wrap">
                <div class="menu-group">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item" th:classappend="${activeTab == 'DASHBOARD'  ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/}">
									<span class="nav-icon-wrap">
										<span class="svg-icon">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-template" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
												<rect x="4" y="4" width="16" height="4" rx="1" />
												<rect x="4" y="12" width="6" height="8" rx="1" />
												<line x1="14" y1="12" x2="20" y2="12" />
												<line x1="14" y1="16" x2="20" y2="16" />
												<line x1="14" y1="20" x2="20" y2="20" />
											</svg>
										</span>
									</span>
                                <span class="nav-link-text">Dashboard</span>
                                <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-gap"></div>
                <div class="menu-group">
                    <div class="nav-header">
                        <span>Apps</span>
                    </div>
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item" th:classappend="${activeTab == 'COURSE'  ? 'active' : ''}">
                            <a class="nav-link" th:href="@{course/list}">
									<span class="nav-icon-wrap">
										<span class="svg-icon">
											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
												<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
												<path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4" />
												<circle cx="18" cy="18" r="4" />
												<path d="M15 3v4" />
												<path d="M7 3v4" />
												<path d="M3 11h16" />
												<path d="M18 16.496v1.504l1 1" />
											</svg>
										</span>
									</span>
                                <span class="nav-link-text">Course</span>
                            </a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#dash_file">-->
<!--									<span class="nav-icon-wrap">-->
<!--										<span class="svg-icon">-->
<!--											<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">-->
<!--												<path stroke="none" d="M0 0h24v24H0z" fill="none"/>-->
<!--												<path d="M14 3v4a1 1 0 0 0 1 1h4" />-->
<!--												<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />-->
<!--												<path d="M9 15l2 2l4 -4" />-->
<!--											</svg>-->
<!--										</span>-->
<!--									</span>-->
<!--                                <span class="nav-link-text">File Manager</span>-->
<!--                            </a>-->
<!--                            <ul id="dash_file" class="nav flex-column collapse  nav-children">-->
<!--                                <li class="nav-item">-->
<!--                                    <ul class="nav flex-column">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="file-manager-list.html"><span class="nav-link-text">List View</span></a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link" href="file-manager-grid.html"><span class="nav-link-text">Grid View</span></a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Main Menu -->
    </div>
    <div id="hk_menu_backdrop" class="hk-menu-backdrop"></div>
</div>
</body>
</html>